.title {
  font-family: 'Audiowide', cursive;
  text-align: center;
  font-size: 75px;
}

.para {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    line-height: 1.4em;


}
.vid {
    
}
