.paddle {
  background-color: white;
  height:100px;
  width:10px;
  position: absolute;
}

.score {
  color: white;
  position: absolute;
}

body {
  background-color: black;
}

.ball {
  background-color: white;
  height: 20px;
  width: 20px;
}

#PaddleL{
  left: 5%;
}

#PaddleR {
  right: 5%;
}

#ScoreL {
  left: 10%;
}
#ScoreR {
  right: 10%;
}
